# Compiled class file
# Arquivo de classe compilado
*.class


# Rquivo de log
*.log

# Arquivos BlueJ files
*.ctxt

#Ferrramentas moveis para Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
